body {
    font-family: "Lato", sans-serif;
}

.socialLink {
    cursor: pointer;
    text-decoration: none;
}

.sidebar {
    top: 0;
    left: 0;
    height: 100%;
    width: 15%;
    padding: 1%;
    position: absolute;
    display: inline-flex;
    flex-direction: column;
}

.content {
    height: 100%;
    text-align: left;
}

#connections_list {
    padding: 0;
    margin: 0;
}

.connection {
    list-style: none;
}