body {
    font-family: "Lato", sans-serif;
}

.socialLink {
    cursor: pointer;
    text-decoration: none;
}

.sidebar {
    left: 0;
    height: 100%;
    width: 15%;
    position: absolute;
    display: inline-flex;
    flex-direction: column;
}

.content {
    height: 100%;
    text-align: left;
}